.fab {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom right, #f76c6c, #ffa082);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.fab:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.fab-inner {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.fab-border {
  border: 2px dashed white;
}
